<%= link_to 'Log Out', logout_path %>

<h1> Hi! <%=@user.name%> </h1>

<% if @user.shows.count < 5 %>
  <h3> It looks like you're book shelf is pretty empty! </h3>
  <h3> Why don't you add some more shows? </h3>
  <% else %>
    <h3> You've got a good looking library but</h3>
    <h3> why don't you add some more shows? </h3>
  <% end %>
<ul>
<% @user.shows.each do |show| %>
  <li> <%=show.title %> </li>
<% end %>
</ul>

<%= link_to 'All Done!', user_path(@user) %>